NASA_API_KEY = your api key
PASS = your db password

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:password@postgres/username

# Postgres
POSTGRES_USER= your username
POSTGRES_PASSWORD= your db password
POSTGRES_DB= your db name

# Airflow user
_AIRFLOW_WWW_USER_USERNAME=your username
_AIRFLOW_WWW_USER_PASSWORD=your password
_AIRFLOW_WWW_USER_ROLE=Admin